todo.txt

wallets/
.env

trades/*
!trades/.gitkeep
data/*
!data/.gitkeep
logs/*
!logs/.gitkeep
notebooks/trades/*
!notebooks/trades/.gitkeep
notebooks/data/*
!notebooks/data/.gitkeep

**/__pycache__/
**/*.ipynb_checkpoints/
debug/
target/
**/*.rs.bk
**/*.DS_Store
.vscode/
